extends layout

block content

    section(class="about", id="about")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    div(class="section-banner")
                        div(class="welcome")
                            h3 Welcome to KUBIS Community
                            small -- Helping startup to grow --
                        img(class="img-responsive",src="/assets/img/banner-02.jpg",alt="Kubis")

        div(class="block-section bg-light-green")
            div(class="container")
                div(class="row text-center")
                    div(class="col-xs text")
                        h3 KUBIS is more fun with friends!
                        p Invite your friends to earn the chance to be a commentator

        div(class="container")
            div(class="row")
                div(class="col-xs-offset-2 col-md-10")
                    div(class="content")
                        ul
                            li
                                div(class="list-title") Discover
                                div(class="list-content") KUBIS helps you in discovering new upcoming startups in Indonesia
                            li
                                div(class="list-title") Get Feedback
                                div(class="list-content") Post your startup in KUBIS to gain valuable community feedback on your product
                            li
                                div(class="list-title") Share
                                div(class="list-content") Share your opinions to build credential and help your fellow startup squads

        div(class="block-section bg-light-green")
            div(class="container")
                div(class="row text-center")
                    div(class="col-xs text")
                        h3 Get your kubis apps now!
                        p Dont get left behind, from this startup train
                        a(href="https://play.google.com/store/apps/details?id=com.twiscode.startuphunt", target="_blank")
                            img(class="img-responsive",src="/assets/img/play-store.png",alt="")