extends layout

block content

    section(class="contact",id="contact-us")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    div(class="contact-header")
                        h2 Contact Us
                        p Please let us know if you have any feedback or request
                    div(class="contact-form")
                        div(class="form-group")
                            label(for="inputName") Name
                            input(type="text",class="form-control",id="inputName",placeholder="Write here...")
                        div(class="form-group")
                            label(for="inputEmail") Email
                            input(type="email",class="form-control",id="inputEmail",placeholder="Write here...")
                        div(class="form-group")
                            label(for="inputMessage") Message
                            textarea(class="form-control",id="inputMessage",placeholder="Write here...")
                        button(id="btnSubmit",class="btn btn-default") Send