extends layout

block content

    article(class="single-article")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    div(class="single content")
                        div(class="col-md-2 post-thumbnail")
                            img(class="img-responsive",src="/assets/img/badges.jpg", id='startup-logo', style="max-width:125px; max-height:125px;")
                        div(class="col-md-10 post-content")
                            h2(class="section-heading", id="startup-name") Startup Name
                            ul(id='startup-hashtag')
                            div(class="comment-badges")
                                ul
                                    li(id='startup-upvote')
                                    li(id='startup-comment')
                        div(class="founder-list col-md-12")
                            div(class="title") Founder
                            ul(id='startup-founder')
                        div(class="media-grid col-md-12")
                            div(class="title") Media
                                div(id="owl-demo",class="owl-carousel")
                        div(class="description col-md-12")
                            div(class="title") Full Description
                            p(id="startup-description")
                        div(class="discussion col-md-12")
                            div(class="title", id="startup-discuss-count")
                            button(class="btn btn-default show_comment-form")
                                i(class="fa fa-comment")  Write Comment
                            div(class="comment-form")
                                div(class="form-group")
                                    label(for="inputName") Name
                                    input(type="text",class="form-control",id="inputName",placeholder="Write here...")
                                div(class="form-group")
                                    label(for="inputEmail") Email
                                    input(type="email",class="form-control",id="inputEmail",placeholder="Write here...")
                                div(class="form-group")
                                    label(for="inputMessage") Message
                                    textarea(class="form-control",id="inputMessage",placeholder="Write here...")
                                button(id="btnSubmit", type="submit",class="btn btn-default") Send
                            div(class="comments")
                                ul(id="startup-comment-list")
                                div(class="loadmore")
                                    a(href="#",class="btn btn-default",id="seemore") See More 