extends layout

block content

    section(class="homepage")
        div(class="container-fluid")
            div(class="row")
                div(class="content")
                    div(id="Tabs",class="container-fluid")
                        ul(class="nav nav-pills")
                            li(class="active")
                                a(data-toggle="tab",href="#newest",id="content-newest") Newest
                            li
                                a(data-toggle="tab",href="#leaderboard",id="content-leaderboard") Leaderboard

                        div(class="tab-content clearfix")
                            div(class="tab-pane active" id="newest")
                                div(class="col-md-8 first")
                                    div(class="box",id="newest-startup")

                                div(class="col-md-4 last")
                                    div(class="box" id="top-startup-newest")
                                        div(class="tab-title")
                                            h3 Top Startup

                            div(class="tab-pane" id="leaderboard")
                                div(class="col-md-8 first")
                                    div(class="box",id="leaderboard-startup")
                                div(class="col-md-4 last")
                                    div(class="box" id="top-startup-leaderboard")
                                        div(class="tab-title")
                                            h3 Top Startup