doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description",content="")
        meta(name="author",content="")

        title Kubis

        link(rel="icon",href="favicon.ico")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css",rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css",rel="stylesheet",type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700",rel="stylesheet",type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Kaushan+Script",rel="stylesheet",type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic",rel="stylesheet",type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700",rel="stylesheet",type='text/css')
        link(href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" rel="stylesheet")

        link(href="/assets/css/style.css",rel="stylesheet")
        link(href="/assets/css/responsive.css",rel="stylesheet")
        link(href="/assets/css/loader.css",rel="stylesheet")

        script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")

    body

        div(id="header-top")
            div(class="container-fluid")
                div(class="row")
                    div(class="col-md-6")
                        div(class="left-menu")
                            ul
                                li
                                    a(href="#",id="logout") Logout
                                li
                                    a(href="#",id="login") Login with facebook
                    div(class="col-md-6")
                        div(class="right-menu")
                            ul
                                li
                                    a(id="username")

        div(id="header-logo")
            div(class="container")
                div(class="row")
                    div(class="navbar-brand hidden-xs")
                        img(src="/assets/img/logo.jpg")

        nav(class="navbar navbar-default transparent navbar-static-top")
            div(class="container")
                div(class="navbar-header")
                    button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
                        span(class="sr-only") Toogle Navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand hidden-sm hidden-md hidden-lg" href="#")
                        img(class="img-responsive" src="/assets/img/logo.jpg")
                div(id="navbar",class="navbar-collapse collapse")
                    ul(class="nav navbar-nav")
                        if (path === '/')
                            li(id="navbar-home", class="active")
                                a(href="/") Home
                        else
                            li(id="navbar-home")
                                a(href="/") Home
                        if(path === '/about')
                            li(id="navbar-about", class="active")
                                a(href="/about") About
                        else
                            li(id="navbar-about")
                                a(href="/about") About
                        if(path === '/startup')
                            li(id="navbar-startup", class="active")
                                a(href="/startup") Startup
                        else
                            li(id="navbar-startup")
                                a(href="/startup") Startup
                        if(path === '/contact')
                            li(id="navbar-contact", class="active")
                                a(href="/contact") Contact Us
                        else
                            li(id="navbar-contact")
                                a(href="/contact") Contact Us

        block content

        footer
            div(class="container-fluid")
                div(class="row")
                    div(class="col-md-12")
                        div(class="copyright") Copyright &copy 2016

        div(id="loader-wrapper")
            div(id="loader")
            div(class="loader-section section-left")
            div(class="loader-section section-right")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
        script(src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js")
        if (path === '/')
            script(src="/assets/js/index.js")
        else if(path === '/about')
            script(src="/assets/js/about.js")
        else if(path === '/startup')
            script(src="/assets/js/startup.js")
        else if(path === '/contact')
            script(src="/assets/js/contact.js")
        else
            script(src="/assets/js/detail.js")