extends layout

block content

    section(id="startup",class="startup active")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    div(class="section-banner")
                        img(class="img-responsive",src="/assets/img/banner-01.jpg",alt="Kubis")
                    div(class="col-sm-6 col-sm-offset-3")
                        div(id="form-search")
                            span(class="label-search") What kind of startup are you looking for?
                            div(class="input-group stylish-input-group")
                                input(type="text",class="live-search-box form-control",placeholder="Search Startup Here...")
                                span(class="input-group-addon")
                                    button(type="submit")
                                        span(class="glyphicon glyphicon-search")

        div(class="container-fluid")
            div(class="row")
                div(class="content")
                    div(id="Tabs", class="container-fluid")
                        div(class="tab-content clearfix")
                            div(class="tab-pane active",id="newest-startup-search")
                                div(class="col-md-8 first")
                                    div(class="box no-border",id="all-startup-search")
                                        div(class="search-result",style="display:none")
                                div(class="col-md-4 last")
                                    div(class="box",id="top-startup-search")
                                        div(class="tab-title")
                                            h3 Top Startup