/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.tab-content .last {
		margin-top: 30px;
		padding-left: 0;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#header-top .left-menu ul, #header-top .social-menu ul {
		padding: 0;
	}

	#header-top .social-menu li {
		margin-right: 12px;
	}

	#header-top .social-menu li:last-child {
		margin-right: 0;
	}

	.navbar-brand {
		display: inline-table;
		padding: 8px 15px;
	}

	.navbar-brand > img {
		width: 32px;
	}

	.navbar .navbar-collapse {
		text-align: left;
	}

	.navbar .navbar-nav {
		display: block;
		padding: 10px;
	}

	.content {
		padding: 0;
	}

	#Tabs .tab-content .box-content img {
		width: 100%;
		margin-bottom: 20px;
	}

	#Tabs .tab-content .first {
		padding: 0;
	}

	#Tabs .tab-content .last {
		margin: 30px 0;
		padding: 0;
	}

	section#about .col-xs-offset-2 {
		margin-left: 0;
	}

	section#about .content li > .list-content {
		width: auto;
		padding: 0;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.navbar-brand {
		display: inline-table;
		padding: 8px 15px;
	}

	.navbar-brand > img {
		width: 32px;
	}
}