body {
	overflow-x: hidden;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
	text-decoration: none;
}

a {
	color: #222222;
}

a:hover,
a:focus,
a:active,
a.active {
	color: #222222;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.first{
	padding-left: 0;
}

.img-responsive {
	max-width: 100%;
	height: auto
}

.content {
	display: block;
	padding: 40px;
}

.bg-light-green {
	background-color: #2ad378;
}


/* Header Top */

#header-top, #header-logo {
	display: block;
}

#header-top .left-menu {
	float: left;
}
#header-top .left-menu ul {
	list-style: none;
	margin: 15px 0;
}
#header-top .left-menu li {
	display: inline-block;
	margin-right: 20px;
	text-transform: uppercase;
}

#header-top .right-menu ul {
	list-style: none;
	margin: 15px 0;
}
#header-top .right-menu {
	float: right;
}
#header-top .right-menu li {
	display: inline-block;
	margin-left: 20px;
	text-transform: uppercase;
}

/* Header Logo */

#header-logo .navbar-brand {
	height: auto;
	float: none;
}

#header-logo .navbar-brand img {
	margin: 0 auto;
}


/* Navbar */

.transparent {
	background-color: transparent;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #e7e7e7;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-default .navbar-nav > li > a {
	color: #777;
	text-transform: uppercase;
	letter-spacing: 5px;
}


section .section-banner {
	width: 70%;
	margin: 0 auto;
}

section .section-banner .welcome {
	margin: 40px 0 25px;
}

section .section-banner .welcome h3, small {
	display: block;
	text-align: center;
}


/* Tabs Menu */

#Tabs {
	padding: 0;
}

.nav-pills > li > a {
	color: #bbbbbb;
	text-transform: uppercase;
	border-radius: 0;
	letter-spacing: 5px;
}

.nav-pills > li > a:hover {
	background: transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: #99cc41;
	background-color: transparent;
	text-transform: uppercase;
}

#Tabs .tab-content {
	color : white;
	padding : 5px 15px;
}

#Tabs .tab-content .box {
	border: 1px solid #ccc
}

#Tabs .tab-content .search-result {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
	color: #444;
	text-transform: uppercase;
    font-size: 14px;
}

#Tabs .tab-content .box-list {
	border-top: 0;
	border-bottom: 1px solid #ccc;
}

#Tabs .tab-content .no-border {
	border-bottom: 0;
}

#Tabs .tab-content .tab-title {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

#Tabs .tab-content .tab-title h3 {
	margin: 0;
	color: #444;
	text-transform: uppercase;
	font-size: 14px;
}

#Tabs .tab-content .box-content {
	width: 100%;
	display: inline-block;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

#Tabs .tab-content .box-content:last-child {
	border-bottom: 0;
}

#Tabs .tab-content .box-content img {
	float: left;
	margin-right: 30px
}

#Tabs .tab-content .box-content .section-heading {
	text-transform: uppercase;
	font-size: 16px;
	color: #444;
	margin-top: 2px;
}

#Tabs .tab-content .box-content .description {
	color: #999;
}

#Tabs .tab-content .box-content .box-footer {
	display: block;
	margin-top: 20px;
	width: 100%;
}

#Tabs .tab-content .box-content .box-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#Tabs .tab-content .box-content .box-footer li {
	border: 1px solid #ccc;
	padding: 5px 20px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

#Tabs .tab-content .box-content .box-footer li > a {
	color: #bbb;
}

#Tabs .tab-content .box-content .box-footer li.active {
	border: 1px solid #9acd41;
}

#Tabs .tab-content .box-content .box-footer li.active > a {
	color: #9acd41;
}

#Tabs .tab-content .box-content .box-footer li.active > a > i,
#Tabs .tab-content .box-content .box-footer li > a > i {
	margin-right: 5px;
}


/* About */

section#about .content {
	padding: 40px;
}

section#about .content ul {
	margin: 0;
	padding: 0;
}

section#about .content li {
	display: inline-block;
	margin-bottom: 20px;
}

section#about .content li > .list-title,
section#about .content li > .list-content {
	float: left;
}

section#about .content li > .list-content {
	width: 60%;
	padding: 0 20px;
}

section#about .content li > .list-title {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	width: 200px;
}

section .block-section {
	margin-top: 10px;
}

section .block-section img {
	margin: 25px auto;
}

section .block-section .text {
	padding: 20px;
}

section .block-section .text h3,
section .block-section .text p {
	color: #fff;
}


/* Startup */

#form-search{
	margin: 40px 0;
}

#form-search .label-search {
	display: block;
	text-align: center;
	font-size: 24px;
	margin-bottom: 15px;
}

.stylish-input-group .input-group-addon{
	background: white !important;
}

.stylish-input-group .form-control{
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group button{
	border: 0;
	background: transparent;
}


/* Contact */

.contact-header h2 {
	color: #333;
	font-size: 24px;
	letter-spacing: .3em;
	text-transform: uppercase;
}

.contact-form {
	padding: 20px 0 40px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form textarea,
.contact-form button {
	border-radius: 0;
}

.contact-form button {
	padding: 10px 25px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .2em;
}


/* Detail Article */

#owl-demo .item{
	margin: 3px;
}

#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}



article .single {
	display: block;
	position: relative;
	overflow: hidden;
}

article .single .post-thumbnail {
	float: left;
}

article .single .post-content {
	float: left;
}

article .single .post-content h2 {
	margin-top: 0;
	padding-top: 5px;
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

article .single .post-content ul {
	margin-top: 15px;
}

article .single .post-content li {
	display: inline-block;
	background-color: #35a484;
	padding: 8px 15px;
	margin-right: 10px;
}

article .single .post-content li > a {
	color: #fff;
	text-transform: capitalize;
}

article .single .post-content .comment-badges ul {
	margin-top: 15px;
}

article .single .post-content .comment-badges li {
	display: inline-block;
	background-color: transparent;
	border: 1px solid #ccc;
	padding: 5px 20px;
	margin-right: 10px;
	cursor: pointer;
}

article .single .post-content .comment-badges li > a {
	color: #bbb;
}

article .single .post-content .comment-badges li.active {
	border: 1px solid #9acd41;
}

article .single .post-content .comment-badges li.active > a {
	color: #9acd41;
}

article .single .founder-list,
article .single .media-grid,
article .single .description,
article .single .discussion {
	margin-top: 30px;
	margin-bottom: 10px;
}

article .single .founder-list .title,
article .single .media-grid .title,
article .single .description .title,
article .single .discussion .title {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-bottom: 20px;
}

article .single .founder-list li {
	display: inline-block;
	margin-right: 45px;
}

article .single .founder-list li > img {
	float: left;
	margin-right: 20px;
}

article .single .founder-list li > h3 {
	font-size: 14px;
	float: left;
	margin-top: 10px;
}

article .single .founder-list li small {
	text-align: left;
}


/* Comments */

article .single .comment-form {
	padding: 30px 0;
	width: 50%;
}

article .single .comments {
	padding-top: 20px;
}

article .single .comments ul {}

article .single .comments li {
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0;
	border-right: 0;
	border-style: solid;
	border-color: #ccc;
	padding: 20px 0;
	display: none;
	overflow: hidden;
}

article .single .comments li:last-child {
	border-top: 0;
}

article .single .comments li > img {
	float: left;
	margin-right: 20px;
}

article .single .comments li .comment-item {
	float: left;
	overflow: hidden;
	display: block;
	width: 90%;
}

article .single .comments li > .section-heading {
	font-size: 14px;
}

article .single .comments .loadmore {
	padding-top: 20px;
	text-align: center;
}



/* Footer */

footer {
	background-color: #9acd42;
	padding: 20px;
}

footer .copyright {
	padding: 20px;
	color: #fff;
}