<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: 1 COLUMN -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to kubis community</title>
</head>
<body>
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <!--[if gte mso 9]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                    <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                <![endif]-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                    <tr>
                        <td valign="top" id="templatePreheader">
                            <table class="mcnTextBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                    <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                                        <!--[if mso]>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
                                               style="width:100%;">
                                            <tr>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="390" style="width:390px;">
                                        <![endif]-->

                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="210" style="width:210px;">
                                        <![endif]-->

                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" id="templateHeader">
                            <table class="mcnTextBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                    <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                                        <!--[if mso]>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
                                               style="width:100%;">
                                            <tr>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="600" style="width:600px;">
                                        <![endif]-->
                                        <table style="max-width:100%; min-width:100%;" class="mcnTextContentContainer"
                                               align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td class="mcnTextContent"
                                                    style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;"
                                                    valign="top">

                                                    <div style="text-align: center;"><span style="font-size:18px">Welcome to <strong>KUBIS</strong> community</span><br>
                                                        - helping startup to grow -
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnImageBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnImageBlockOuter">
                                <tr>
                                    <td style="padding:9px" class="mcnImageBlockInner" valign="top">
                                        <table class="mcnImageContentContainer" style="min-width:100%;" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td class="mcnImageContent"
                                                    style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;"
                                                    valign="top">


                                                    <img alt=""
                                                         src="https://gallery.mailchimp.com/8f8c94f58b44c32d69e873c1e/images/f2edec74-aee1-4751-a08b-cda482740048.jpg"
                                                         style="max-width:1108px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
                                                         class="mcnImage" align="middle" width="564">


                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" id="templateBody">
                            <table class="mcnCodeBlock" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                    <td class="mcnTextBlockInner" valign="top">
                                        <div style="background: #2ad378; padding: 25px;">

                                            <div style="text-align: left; color: #ffffff;"><strong>KUBIS is more fun
                                                    with friends!</strong></div>

                                            <div style="text-align: left; color: #ffffff;">Invite your friends to earn
                                                the chance to be a commentator.
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnBoxedTextBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <!--[if gte mso 9]>
                                <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <![endif]-->
                                <tbody class="mcnBoxedTextBlockOuter">
                                <tr>
                                    <td class="mcnBoxedTextBlockInner" valign="top">

                                        <!--[if gte mso 9]>
                                        <td align="center" valign="top" ">
                                        <![endif]-->
                                        <table style="min-width:100%;" class="mcnBoxedTextContentContainer" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                                    <table class="mcnTextContentContainer"
                                                           style="min-width: 100% ! important;background-color: #FFFFFF;"
                                                           border="0" cellpadding="18" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td style="color: #F2F2F2;font-family: Helvetica;font-size: 14px;font-weight: normal;text-align: center;"
                                                                class="mcnTextContent" valign="top">

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if gte mso 9]>
                                        </td>
                                        <![endif]-->

                                        <!--[if gte mso 9]>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnTextBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                    <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                                        <!--[if mso]>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
                                               style="width:100%;">
                                            <tr>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="210" style="width:210px;">
                                        <![endif]-->
                                        <table style="max-width:210px;" class="mcnTextContentContainer" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td class="mcnTextContent"
                                                    style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                                                    valign="top">

                                                    <strong>DISCOVER</strong>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="390" style="width:390px;">
                                        <![endif]-->
                                        <table style="max-width:390px;" class="mcnTextContentContainer" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td class="mcnTextContent"
                                                    style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                                                    valign="top">

                                                    KUBIS helps you in discovering new upcoming startups in Indonesia
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnTextBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                    <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                                        <!--[if mso]>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
                                               style="width:100%;">
                                            <tr>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="210" style="width:210px;">
                                        <![endif]-->
                                        <table style="max-width:210px;" class="mcnTextContentContainer" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td class="mcnTextContent"
                                                    style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                                                    valign="top">

                                                    <strong>GET FEEDBACK</strong>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="390" style="width:390px;">
                                        <![endif]-->
                                        <table style="max-width:390px;" class="mcnTextContentContainer" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td class="mcnTextContent"
                                                    style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                                                    valign="top">

                                                    Post your startup in KUBIS to gain valuable community feedback on
                                                    your product
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnTextBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                    <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                                        <!--[if mso]>
                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
                                               style="width:100%;">
                                            <tr>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="210" style="width:210px;">
                                        <![endif]-->
                                        <table style="max-width:210px;" class="mcnTextContentContainer" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td class="mcnTextContent"
                                                    style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                                                    valign="top">

                                                    <strong>SHARE</strong>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        <td valign="top" width="390" style="width:390px;">
                                        <![endif]-->
                                        <table style="max-width:390px;" class="mcnTextContentContainer" align="left"
                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>

                                                <td class="mcnTextContent"
                                                    style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                                                    valign="top">

                                                    Share your opinions to build credential and help your fellow startup
                                                    squads
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->

                                        <!--[if mso]>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnDividerBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnDividerBlockOuter">
                                <tr>
                                    <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
                                        <table class="mcnDividerContent" style="min-width:100%;" border="0"
                                               cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                        <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                        -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnButtonBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnButtonBlockOuter">
                                <tr>
                                    <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;"
                                        class="mcnButtonBlockInner" align="center" valign="top">
                                        <table class="mcnButtonContentContainer"
                                               style="border-collapse: separate ! important;border-radius: 3px;background-color: #2AD378;"
                                               border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-family: Arial; font-size: 16px; padding: 15px;"
                                                    class="mcnButtonContent" align="center" valign="middle">
                                                    <a class="mcnButton " title="GO TO KUBIS &gt;&gt;"
                                                       href="https://play.google.com/store/apps/details?id=com.twiscode.startuphunt"
                                                       target="_blank"
                                                       style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">GO
                                                        TO KUBIS &gt;&gt;</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" id="templateFooter">
                            <table class="mcnFollowBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnFollowBlockOuter">
                                <tr>
                                    <td style="padding:9px" class="mcnFollowBlockInner" align="center" valign="top">
                                        <table class="mcnFollowContentContainer" style="min-width:100%;" border="0"
                                               cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="padding-left:9px;padding-right:9px;" align="center">
                                                    <table style="min-width:100%;" class="mcnFollowContent" border="0"
                                                           cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td style="padding-top:9px; padding-right:9px; padding-left:9px;"
                                                                align="center" valign="top">
                                                                <table align="center" border="0" cellpadding="0"
                                                                       cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td align="center" valign="top">
                                                                            <!--[if mso]>
                                                                            <table align="center" border="0"
                                                                                   cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                            <![endif]-->

                                                                            <!--[if mso]>
                                                                            <td align="center" valign="top">
                                                                            <![endif]-->


                                                                            <table style="display:inline;" align="left"
                                                                                   border="0" cellpadding="0"
                                                                                   cellspacing="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="padding-right:10px; padding-bottom:9px;"
                                                                                        class="mcnFollowContentItemContainer"
                                                                                        valign="top">
                                                                                        <table class="mcnFollowContentItem"
                                                                                               border="0"
                                                                                               cellpadding="0"
                                                                                               cellspacing="0"
                                                                                               width="100%">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;"
                                                                                                    align="left"
                                                                                                    valign="middle">
                                                                                                    <table align="left"
                                                                                                           border="0"
                                                                                                           cellpadding="0"
                                                                                                           cellspacing="0"
                                                                                                           width="">
                                                                                                        <tbody>
                                                                                                        <tr>

                                                                                                            <td class="mcnFollowIconContent"
                                                                                                                align="center"
                                                                                                                valign="middle"
                                                                                                                width="24">
                                                                                                                <a href="http://www.facebook.com/kubis.id"
                                                                                                                   target="_blank"><img
                                                                                                                            src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png"
                                                                                                                            style="display:block;"
                                                                                                                            class=""
                                                                                                                            height="24"
                                                                                                                            width="24"></a>
                                                                                                            </td>


                                                                                                        </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>

                                                                            <!--[if mso]>
                                                                            </td>
                                                                            <![endif]-->

                                                                            <!--[if mso]>
                                                                            <td align="center" valign="top">
                                                                            <![endif]-->


                                                                            <table style="display:inline;" align="left"
                                                                                   border="0" cellpadding="0"
                                                                                   cellspacing="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="padding-right:10px; padding-bottom:9px;"
                                                                                        class="mcnFollowContentItemContainer"
                                                                                        valign="top">
                                                                                        <table class="mcnFollowContentItem"
                                                                                               border="0"
                                                                                               cellpadding="0"
                                                                                               cellspacing="0"
                                                                                               width="100%">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;"
                                                                                                    align="left"
                                                                                                    valign="middle">
                                                                                                    <table align="left"
                                                                                                           border="0"
                                                                                                           cellpadding="0"
                                                                                                           cellspacing="0"
                                                                                                           width="">
                                                                                                        <tbody>
                                                                                                        <tr>

                                                                                                            <td class="mcnFollowIconContent"
                                                                                                                align="center"
                                                                                                                valign="middle"
                                                                                                                width="24">
                                                                                                                <a href="http://www.twitter.com/kubis_id"
                                                                                                                   target="_blank"><img
                                                                                                                            src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png"
                                                                                                                            style="display:block;"
                                                                                                                            class=""
                                                                                                                            height="24"
                                                                                                                            width="24"></a>
                                                                                                            </td>


                                                                                                        </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>

                                                                            <!--[if mso]>
                                                                            </td>
                                                                            <![endif]-->

                                                                            <!--[if mso]>
                                                                            <td align="center" valign="top">
                                                                            <![endif]-->


                                                                            <table style="display:inline;" align="left"
                                                                                   border="0" cellpadding="0"
                                                                                   cellspacing="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="padding-right:0; padding-bottom:9px;"
                                                                                        class="mcnFollowContentItemContainer"
                                                                                        valign="top">
                                                                                        <table class="mcnFollowContentItem"
                                                                                               border="0"
                                                                                               cellpadding="0"
                                                                                               cellspacing="0"
                                                                                               width="100%">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;"
                                                                                                    align="left"
                                                                                                    valign="middle">
                                                                                                    <table align="left"
                                                                                                           border="0"
                                                                                                           cellpadding="0"
                                                                                                           cellspacing="0"
                                                                                                           width="">
                                                                                                        <tbody>
                                                                                                        <tr>

                                                                                                            <td class="mcnFollowIconContent"
                                                                                                                align="center"
                                                                                                                valign="middle"
                                                                                                                width="24">
                                                                                                                <a href="http://instagram.com/kubis.id"
                                                                                                                   target="_blank"><img
                                                                                                                            src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png"
                                                                                                                            style="display:block;"
                                                                                                                            class=""
                                                                                                                            height="24"
                                                                                                                            width="24"></a>
                                                                                                            </td>


                                                                                                        </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>

                                                                            <!--[if mso]>
                                                                            </td>
                                                                            <![endif]-->

                                                                            <!--[if mso]>
                                                                            </tr>
                                                                            </table>
                                                                            <![endif]-->
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="mcnDividerBlock" style="min-width:100%;" border="0" cellpadding="0"
                                   cellspacing="0" width="100%">
                                <tbody class="mcnDividerBlockOuter">
                                <tr>
                                    <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
                                        <table class="mcnDividerContent"
                                               style="min-width: 100%;border-top: 2px solid #EEEEEE;" border="0"
                                               cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                        <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                        -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--[if gte mso 9]>
                </td>
                </tr>
                </table>
                <![endif]-->
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>
</body>
</html>